{% extends "layout.html" %}
{% block content %}

<h2>Mark / Edit Daily Attendance</h2>

<form method="POST" class="glass">

    <label>Select Date</label>
    <input type="date" name="date" required>

    <table>
        <tr>
            <th>Student</th>
            <th>Status</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s.student_name }}</td>
            <td>
                <select name="student_{{ s.student_id }}">
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>

    <button>Save Attendance</button>

</form>

{% endblock %}